/* text start frame and styles */

@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Poppins&display=swap');

body {
    font-family: 'Mingzat', sans-serif;
    background-color: rgb(255, 255, 255);
}

/* text start frame and styles */


/* start our design */


header {
    background-color: red;
    width: 1300px;
    height: 70px;
    margin-left: 20px;
    border-radius: 4px;
}


.fast-header {
    text-decoration: none;
    font-size: 24px;
    color: aliceblue;
    margin: 25px;

    text-align: center;
    padding: 0px 15px;
    align-items: center;
}

.top-fram {
    display: flex;
    background: #161616;
    border-radius: 10px;
    margin-left: 120px;
    margin-right: 119px;
    margin-top: 40px;
    margin-bottom: 120px;


}

.photo-br img {
    width: 531px;
    height: 613px;
}

.pra1 {
    color: aliceblue;
}

.text1 {
    color: aliceblue;
    font-size: 40px;
    font-weight: 700;
}

.fast-fram {
    margin-left: 60px;
}

.button {
    border: 1px solid black;
    background-color: crimson;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    color: aliceblue;
    padding: 7px 16px;
}

.dad {
    display: flex;
}

.father {
    background-color: #161616;
    height: 308px;
    width: 310px;
    margin-left: 130px;
    border-radius: 4px;

}

.son {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;

}

.button9 {
    background-color: gainsboro;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border: 1px solid black;
    text-decoration: none;

    border-radius: 9px;
}

#three {
    background-color: darkorange;
    padding: 10px 66px;
}

#tow {
    padding: 10px 66px;
}

#one {
    padding: 10px 46px;
}

.father1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -40px;
    overflow-x: hidden;
}

.button1 {
    padding: 27px;
}

.span1 {
    border: 1px solid black;

    padding: 1px 9px;
    border-radius: 4px;

}

.span0 {
    padding: 12px;
    margin-right: 213px;
}

.hp {
    margin-left: 85px;
}

.icon {
    margin-right: 90px;
    padding-top: -8px;
}

.foot1 {
    border: 1px solid black;

    border-radius: 4px;
    background-color: rgb(224, 22, 22);
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 5px 14px;
    visibility: hidden;



}

footer {
    background-color: #161616;
}

.fast-footer {
    color: aliceblue;
    text-align: center;
    font-size: 33px;
}

.sec-footer {
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

hr {
    border: 1px solid goldenrod;
    border-radius: 3px;
    margin: 20px;
}

.media {
    text-align: center;
    color: aliceblue;
    margin-bottom: 20px;
}

#viwe {
    text-align: center;
    padding: 0px 0px;
    background-color: #9c3b3b;
    display: none;
}

/* tablet responsive fast  */
@media all and (min-width:321px) and (max-width:768px) {
    .top-fram {
        background-color: brown;
        width: 580px;
        height: 298px;
        display: flex;
        margin-left: 10px;
        margin: right 10px;
    }




    .photo-br img {
        width: 240px;
        height: 270px;
    }

    .foot1 {
        visibility: visible;
    }

    .text1 {
        color: aliceblue;
        font-size: 22px;
        font-weight: 700;
    }

    .pra1 {
        font-size: 8px;
    }

    .fast-header {
        text-decoration: none;
        font-size: 24px;
        color: aliceblue;
        margin: 17px;

        text-align: center;
        padding: 0px 10px;
        align-items: center;
    }

    header {
        background-color: red;
        width: 570px;
        height: 50px;
        margin-left: 20px;
        border-radius: 4px;
    }

    .father {
        background-color: #9c3b3b;
        height: 278px;
        width: 310px;
        margin-left: 10px;
        border-radius: 6px;

        grid-template-columns: (1fr, 1fr, 1fr);
    }

    .son {
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px;
        display: grid;

    }

    .father1 {
        margin-left: -10;
        display: grid;
        margin-left: -100px;
        grid-template-columns: repeat(1, 1fr);
        overflow-y: hidden;
    }

    .son img {
        width: 250px;
        height: 130px;
    }

    body {
        background-color: antiquewhite;
    }

    #viwe {

        display: inline-block;
        padding: 10px;
        text-decoration: none;
        font-size: 16px;
        color: aliceblue;
    }

    .foot1 {
        display: inline-block;
    }
}



/* viiwe all page designs */
@media all and (max-width:778px) {
    .top-fram {
        background-color: rgb(41, 126, 217);
        width: 320px;
        height: 550px;
        display: flex;
        margin-left: 10px;
        margin: right 10px;
    }

    .photo-br img {
        width: 204px;
        height: 242px;
        margin-left: 5px;

    }

    .text1 {
        font-size: 17px;

    }

    .pra1 {
        font-size: 8px;
    }

    .button {
        padding: 10px 10px;
        display: inline-block
    }

    .father {
        background-color: #2d2d2b;
        height: 268px;
        width: 310px;
        margin-left: -2px;
    }

    .father1 {
        display: table-column;
    }

    footer {
        width: 570px;
    }

    header {
        width: 560px;
        margin-left: -19px;

    }


}